.tw-container {
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 2rem/* 32px */ !important;
    padding-left: 2rem/* 32px */ !important;
}
@media (min-width: 1400px) {
    .tw-container {
        max-width: 1400px !important;
    }
}